img.rounded-circle {
    height: 52px;
    margin-right: 10px;
}

#navbarSupportedContent {
    margin-left: 30px;
}

* {
    margin: 0;
    padding: 0;
}

.dropdown a img {
    width: 50px;
    height: 50px;
}

.apply {
    border: 2px solid orange;
    border-radius: 30px;
    margin-left: 50%;
    color: orange;
}

.img1 {
    width: 25px;
    height: 25px;
}

.arrow {
    color: orange;
}

.duration {
    display: flex;
    justify-content: center;
    align-items: center;
}

#prof-drop {
    position: absolute;
    right: 5px;
    top: 3px;
}

.theme {
    position: relative;
    border: 1px solid white;
    background-color: white;
    bottom: 16px;
    padding: 4px;
    margin: auto;
    border: 33px;
    border-radius: 21px;
}

#search-border {
    border: none;
}

#navbarSupportedContent {
    width: 240px;
    margin-left: 0px;
}

@media only screen and (max-width:575px) {
    #hide {
        display: none;
    }
    #drop-pos {
        left: -62px;
    }
    .dropdown-border {
        border: none;
    }
}